<div fxLayout="column" fxLayoutAlign="center center">
  <form class="header-form" [formGroup]="jobDetailForm">
    <div fxLayout="column">
     <mat-form-field fxFlex>
        <mat-label>If Yes, Please Explain:</mat-label>
        <input matInput  formControlName="jobDescription" type="text">
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>If Yes, Please Explain:</mat-label>
        <input matInput  formControlName="correctiveActions" type="text">
      </mat-form-field>
    </div>
  </form>
</div>
