<div class="title" fxLayout="row" fxLayoutAlign="space-between center">
  <div>Field Assessment</div>
  <div>
    <mat-icon (click)="goPIN()">menu</mat-icon>
  </div>
</div>
<mat-horizontal-stepper [linear]=true #stepper>
  <mat-step [stepControl]="companyForm" label="Company Information">
    <app-company [companyForm]=companyForm></app-company>
    <div>
      <button mat-flat-button matStepperNext color="primary" fxFlex>
        NEXT
      </button>
    </div>
  </mat-step>
  <!-- <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
    <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step> -->
  <!-- <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step> -->
</mat-horizontal-stepper>


<!-- 

<app-header [page]=appService.isHeader [hidden]=appService.isHeader></app-header>
<app-task [page]=appService.isTask [hidden]=appService.isTask></app-task>
<app-assessment [page]=appService.isAssessment [hidden]=appService.isAssessment></app-assessment>
<app-job-details [page]=appService.isJobDetail [hidden]=appService.isJobDetail></app-job-details>
<app-workers [page]=appService.isWorker [hidden]=appService.isWorker></app-workers> -->