<div class="header" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center">
    <img src="assets/formlocologo.svg" height="60px">
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <form class="header-form" [formGroup]="headerForm">
      <div fxLayout="column">
        <mat-form-field class="example-chip-list">
          <mat-label>Favorite Fruits</mat-label>
          <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit)">
              {{fruit}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="New fruit..." #fruitInput formControlName="tasks" [matAutocomplete]="auto" [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
              {{fruit}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button (click)="appService.setPage('header')" mat-stroked-button color="warn" fxFlex>
            BACK
          </button>
          <button (click)="appService.setPage('assessment')" mat-flat-button color="primary" fxFlex>
            NEXT
          </button>
        </div>
      </div>
    </form>
  </div>
</div>